
<div id="photoEasyToSwap" style="position:relative;margin:0 auto;width:780px;height:250px;left:0px;top:0px;">
    <div u="loading">
        <div style="filter:alpha(opacity=70);opacity:0.7;position:absolute;display:block;background-color:#FFFFFF;top:0px;left:0px;width:780px;height:250px;">
        </div>
    </div>
    <div u="slides" style="cursor:move;position:absolute;left:0px;top:0px;width:780px;height:250px;overflow:hidden;">
        <div>
            <img u="image" src="../images/ConeXusWorldGlobal.png" width="780" height="250">
            <img u="thumb" src="../images/ConeXusWorldGlobal.png">
        </div>
        <div>
            <img u="image" src="../images/criconexus.jpg">
            <img u="thumb" src="../images/criconexus.jpg">
        </div>
        <div>
            <img u="image" src="../images/CriBrand.png">
            <img u="thumb" src="../images/CriBrand.png">
        </div>
        <div>
            <img u="image" src="../images/CriLogo.JPG">
            <img u="thumb" src="../images/CriLogo.JPG">
        </div>
        <div>
            <img u="image" src="../images/MenuPageURL.jpg">
            <img u="thumb" src="../images/MenuPageURL.jpg">
        </div>
        <div>
            <img u="image" src="../images/CreativeRealities.jpg">
            <img u="thumb" src="../images/CreativeRealities.jpg">
        </div>
        <div>
            <img u="image" src="../images/CRI_logo_final.jpg">
            <img u="thumb" src="../images/CRI_logo_final.jpg">
        </div>
        <div>
            <img u="image" src="../images/HolidayDonationPlatform.jpg">
            <img u="thumb" src="../images/HolidayDonationPlatform.jpg">
        </div>
    </div>
</div>

<script>
jssor_slider1_starter('photoEasyToSwap');
jssor_slider1_starter('slider1_container');
</script>
