@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    I created a model that uses a SQL database (using a ‘code first’ approach).<br />
    The database model will represent a drop down menu.  Fields for the project are:  id, name, parent_id (and possibly Menu_PageURL?)
    <br /><br />
    I could also have made use of validation offered (for end-user input) by first putting the proper annotations to my model class (to avoid invalid data from entering the database).  <br />
    All views and CRUD pages involved in working with the model data have been built with scaffolding.  <br />
    (If you do this right it is very easy and fast to create and you don’t really have to build any of it.)
</p>
