@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="jumbotron">
    <h1>Database-Driven Menu
    <p class="lead">A small dynamic website with an image/logo you can swap easily – working with a DB that has:  A login screen – using a DB users table - (Drop down menu driven from the database just like the login) - Opens a different page when you click on the drop down - First page that opens has a selection dropdown, also DB driven - Second screen that opens is different for each menu item - Logout option</p>
    <p><a href="http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/advanced-entity-framework-scenarios-for-an-mvc-web-application" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>